.TimeInput {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5px;
}
.speed-input {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  border: 5px solid black;
}
.TimeInput input {
  width: 75px;
}

.Waiting {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Waiting input {
  margin: 0px 10px;
  width: 40px;
  text-align: end;
}
input::placeholder {
  text-align: center;
}

@media (min-width: 800px) {
  .Speed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}

@media (min-width: 1200px) {
  .Speed {
    grid-template-columns: repeat(3, 1fr);
  }
}
