.TimeInput {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5px;
}
.speed-input {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}
.TimeInput input {
  width: 75px;
}
